<div class="product-list">
        <ion-content>
            <div class="atmosphere">
                <img src="./res/banner.jpg">
            </div>
            <div class="item product-item"
                 ng-repeat="item in dataModel.list"
                 ng-click="view_detail(item)">
                <div>
                    <div class="product-img"><img ng-src="{{item.image}}"></div>
                    <div class="product-name" ng-bind="item.product_name"></div>
                    <div class="product-price-container">
                        <div class="product-price">¥<span ng-bind="item.price"></span></div>
                        <del class="origin_price">¥<span ng-bind="item.origin_price"></span></del>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll ng-if="dataModel.more_data" on-infinite="loadMoreData()"></ion-infinite-scroll>
        </ion-content>
</div>